<section id="about">
  <div class="container">
    <div class="section-provide">
      <div class="team-pic">
        <img src="./images/Rectangleteam.jpg" alt="our team" />
      </div>
      <div class="provide-article">
        <p>What you are looking for</p>
        <h2>We provide bespoke solutions</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
          ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
          illum dolore explicabo ab dolores itaque rerum temporibus doloribus
          iste maiores deleniti?
        </p>
        <a href="#" class="provide-read-more"> Read More</a>
        <!-- <button type="button">Read More</button> -->
      </div>
    </div>
  </div>
</section>
