<section class="blog" id="blog">
  <div class="container blog-flex">
    <div class="blog-wrap">
      <time class="blog-date" datetime="2020-04-16">April 16 2020</time>
      <h2 class="blog-title">Blog Post One</h2>
      <p class="blog-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a class="blog-link" href="">Read Our Blog</a>
    </div>
    <img
      src="./images/blog-image.jpg"
      width="680"
      height="517"
      alt="make-notes"
    />
  </div>
</section>
