<section>
  <div class="container">
    <h2 class="visually-hidden">our branches</h2>
    <ul class="branches-flex">
      <li class="bis-branch">
        <div class="branch-logo">
          <img src="./images/bank.svg" width="67" alt="67" />
        </div>
        <h3>Investmant Banking</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="bis-branch">
        <div class="branch-logo">
          <img src="./images/Vectorportfolio.svg" width="67" alt="67" />
        </div>
        <h3>Portfolio Manager</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="bis-branch">
        <div class="branch-logo">
          <img src="./images/pencil.svg" width="67" alt="67" />
        </div>
        <h3>Tax & Custudio</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
