<section class="callback" id="contact">
  <div class="container callback-flex">
    <h2 class="visually-hidden">Callback</h2>
    <img
      src="./images/working_man.jpg"
      alt="man working on laptop"
      width="680"
      height="460"
    />
    <div class="callback-form-section">
      <p class="form-text">Request Callback</p>
      <form class="callback-form">
        <div class="input-text-container">
          <input
            type="text"
            class="input-text"
            name="name"
            placeholder="Enter your name"
            id="name"
          />
          <label class="input-text-label" for="name">name</label>
        </div>

        <div class="input-text-container">
          <input
            type="email"
            class="input-text"
            name="email"
            placeholder="Enter email*"
            id="email"
          />
          <label class="input-text-label" for="email">email</label>
        </div>

        <button class="input-button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
