<section class="cases" id="cases">
  <div class="container">
    <p class="cases-text">This is what we do</p>
    <h2 class="cases-title">Business Cases</h2>
    <p class="cases-text-secondary">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list">
      <li class="case-item">
        <a href="">
          <img
            src="./images/cases/case-1.jpg"
            width="320"
            height="214"
            alt="holding a meeting"
          />
        </a>
      </li>
      <li class="case-item">
        <a href="">
          <img
            src="./images/cases/case-2.jpg"
            width="320"
            height="214"
            alt="calculating"
          />
        </a>
      </li>
      <li class="case-item">
        <a href="">
          <img
            src="./images/cases/case-3.jpg"
            width="320"
            height="214"
            alt="conclude agreements"
          />
        </a>
      </li>
      <li class="case-item">
        <a href="">
          <img
            src="./images/cases/case-4.jpg"
            width="320"
            height="214"
            alt="support"
          />
        </a>
      </li>
      <li class="case-item">
        <a href="">
          <img
            src="./images/cases/case-5.jpg"
            width="320"
            height="213"
            alt="working on laptop"
          />
        </a>
      </li>
      <li class="case-item">
        <a href="">
          <img
            src="./images/cases/case-6.jpg"
            width="320"
            height="214"
            alt="business-center"
          />
        </a>
      </li>
      <li class="case-item">
        <a href="">
          <img
            src="./images/cases/case-7.jpg"
            width="320"
            height="214"
            alt="work-space"
          />
        </a>
      </li>
      <li class="case-item">
        <a href="">
          <img
            src="./images/cases/case-8.jpg"
            width="320"
            height="214"
            alt="communicating"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
