<footer>
  <div class="container footer">
    <ul class="socials">
      <li class="socials__item">
        <a href="https://www.facebook.com/">
          <svg class="socials__icon" aria-label="facebook link">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a href="https://twitter.com/">
          <svg class="socials__icon" aria-label="twitter link">
            <use href="./images/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a href="https://www.youtube.com/">
          <svg
            class="socials__icon socials__icon--youtube"
            aria-label="youtube link"
          >
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a href="https://www.instagram.com/">
          <svg
            class="socials__icon socials__icon--instagram"
            aria-label="instagram link"
          >
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="footer__text">Copyright &copy; 2021 - FinanceLedger</p>
  </div>
</footer>
