<header>
  <div class="container">
    <nav class="container-nav">
      <a href="./index.html" class="icon-link">
        <img src="./images/logo.svg" alt="logo" class="icon"
      /></a>

      <a href="./index.html" class="logo"
        >Finance <span class="logo-web">Ledger</span></a
      >

      <ul class="nav-menu">
        <li class="item">
          <a href="./index.html" class="header-menu-link">Home</a>
        </li>
        <li class="item">
          <a href="#about" class="header-menu-link">About</a>
        </li>
        <li class="item">
          <a href="#cases" class="header-menu-link">Cases</a>
        </li>
        <li class="item">
          <a href="#blog" class="header-menu-link">Blog</a>
        </li>
        <li class="item">
          <a href="#contact" class="header-menu-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
