<section class="team">
  <div class="container">
    <p class="team__subtitle">Who we are</p>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__item-wrap">
          <img
            src="./images/team/1-John_Doe.jpg"
            alt="man in suit near brick wall"
            width="420"
            height="280"
          />
          <ul class="socials socials--team-socials">
            <li class="socials__item">
              <a href="https://www.facebook.com/">
                <svg class="socials__icon" aria-label="facebook link">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="https://twitter.com/">
                <svg class="socials__icon" aria-label="twitter link">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="https://www.youtube.com/">
                <svg
                  class="socials__icon socials__icon--youtube"
                  aria-label="youtube link"
                >
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="https://www.instagram.com/">
                <svg
                  class="socials__icon socials__icon--instagram"
                  aria-label="instagram link"
                >
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <h3 class="team__item-name">John Doe</h3>
        <p class="team__item-position">President</p>
      </li>

      <li class="team__item">
        <div class="team__item-wrap">
          <img
            src="./images/team/2-Jane_Doe.jpg"
            alt="young woman in white blouse sitting in ф chair"
            width="420"
            height="280"
          />
          <ul class="socials socials--team-socials">
            <li class="socials__item">
              <a href="https://www.facebook.com/">
                <svg class="socials__icon" aria-label="facebook link">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="https://twitter.com/">
                <svg class="socials__icon" aria-label="twitter link">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="https://www.youtube.com/">
                <svg
                  class="socials__icon socials__icon--youtube"
                  aria-label="youtube link"
                >
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="https://www.instagram.com/">
                <svg
                  class="socials__icon socials__icon--instagram"
                  aria-label="instagram link"
                >
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team__item-name">Jane Doe</h3>
        <p class="team__item-position">Vice President</p>
      </li>

      <li class="team__item">
        <div class="team__item-wrap">
          <img
            src="./images/team/3-Steve_Smith.jpg"
            alt="smiling man sitting near the table with laptop and cup in his hand"
            width="420"
            height="280"
          />
          <ul class="socials socials--team-socials">
            <li class="socials__item">
              <a href="https://www.facebook.com/" class="social-link">
                <svg class="socials__icon" aria-label="facebook link">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="https://twitter.com/" class="social-link">
                <svg class="socials__icon" aria-label="twitter link">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="https://www.youtube.com/" class="social-link">
                <svg
                  class="socials__icon socials__icon--youtube"
                  aria-label="youtube link"
                >
                  <use href="./images/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a href="https://www.instagram.com/" class="social-link">
                <svg
                  class="socials__icon socials__icon--instagram"
                  aria-label="instagram link"
                >
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team__item-name">Steve Smith</h3>
        <p class="team__item-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
