/* branches  */
.branches-flex {
    display: flex;
    padding: 40px 66px 19px 66px;
    justify-content: space-between;
}

.bis-branch {
    width: 362px;

    text-align: center;
}

.branch-logo {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}