/* footer */
.footer {
    background-color: var(--main-text-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 16px;
    
    &__text {
        margin-top: 10px;
        margin-bottom: 0;
    }
}





